.outlined{
    background-color: red;
}
.text{
    font-family: 'Poppins',sans-serif;
}
.text .log{
    font-weight: 700;
    font-size: 32px;
    font-family: 'Poppins',sans-serif;
}
.bgbg{
    align-items: center;
    justify-items: center;
    text-align: center;
}
.link{
    text-decoration:none;
    color:black;
}
